.footer__content {
  margin-top: 100px;
  border-top: solid 1px #707070;
  margin-bottom: 100px;
}

.footer__border {
  border-left: 1px solid #272727;
  height: 251px;
  margin-top: 40px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  a {
    padding: 20px;
    text-decoration: none;
    color: #272727;
  }
}

.footer__contact {
  display: flex;
  margin-top: 40px;

  p {
    margin-left: 20px;
    font-size: 14px;
  }
}

.footer__social {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer__deals {
  margin-top: 40px;

  h1 {
    font-size: 20px;
  }
}

.footer__email {
  margin-top: 84px;

  input {
    border: none;
    outline: none;
    border-bottom: solid 1px #272727;
    line-height: 44px;
  }

  button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1494px) {
  .footer__contact {
    display: none;
  }
  .footer__social {
    display: none;
  }

  iframe {
    width: 200%;
  }
}

@media only screen and (max-width: 767px) {
  .footer__border {
    display: none;
  }
  iframe {
    width: 100%;
  }
  .footer__links {
    a {
      border-bottom: 1px solid black;
    }
  }
}
